In [44]:
# checking duplicate values

In [109]:
import pandas as pd

In [110]:
fn = r'/Users/dblyon/CloudStation/CPR/Brian_GO/alldata/Data_for_web_tool_yeast.txt'
df = pd.read_csv(fn, sep='\t')

In [111]:
df.head()

,Genome,iBAQ observed (log10),Observed Proteome,Phos,Ubi,Acetyl,Succinyl
0,P38903,"11,07751325",P00359,P0C2J1,P53907,P40545,Q04748
1,P31383,"10,96978388",P00925,P40456,P06775,P09201,Q05022
2,Q00362,"10,76849751",P02994,P25364,Q08986,P14066,Q03434
3,P47177,"10,74716312",P06169,P25364,P38723,P25040,P32590
4,P47096,"10,74614359",P00560,P14737,P38196,P20050,Q03434

In [112]:
print 'Shape: ', df.shape
for colname in df.columns.tolist():
    print colname, ': ', len(df.loc[pd.notnull(df[colname]), colname]), len(df.loc[pd.notnull(df[colname]), colname].drop_duplicates())

Shape:  (10247, 7)
Genome :  6721 6721
iBAQ observed (log10) :  4248 4210
Observed Proteome :  4248 4248
Phos :  10247 2460
Ubi :  2840 1182
Acetyl :  2780 1159
Succinyl :  1633 636

In [113]:
#fn = r'/Users/dblyon/CloudStation/CPR/Brian_GO/alldata/Data_for_web_tool_HeLa.txt'
#df = pd.read_csv(fn, sep='\t')

In [114]:
#df.head()

In [115]:
#print 'Shape: ', df.shape
#for colname in df.columns.tolist():
#    print colname, ': ', len(df.loc[pd.notnull(df[colname]), colname]), len(df.loc[pd.notnull(df[colname]), colname].drop_duplicates())

# creating UserInput tables

In [108]:
fn_out = r'/Users/dblyon/CloudStation/CPR/Brian_GO/alldata/Yest_Acetyl_vs_Genome_UserInput.txt'

In [54]:
df_new = df['Genome', 'iBAQ observed (log10)', ]

In [116]:
df.columns.tolist()

['Genome',
 'iBAQ observed (log10)',
 'Observed Proteome',
 'Phos',
 'Ubi',
 'Acetyl',
 'Succinyl']

# check if output is still correct and the same as before

In [125]:
fn_old = r'/Users/dblyon/modules/cpr/goterm/SummaryTest_yeast_acetyl_AbundanceCorrected.txt'
fn_new = r'/Users/dblyon/modules/cpr/goterm/TEST_v7.txt'
df_old = pd.read_csv(fn_old, sep='\t', skiprows=1)
df_new = pd.read_csv(fn_new, sep='\t', skiprows=1)

In [126]:
df_comp = df_new == df_old

In [127]:
columns = df_comp.columns.tolist()
for col in columns:
    print col, sum(df_comp[col])

id 4901
enrichment 4901
fold_enrichment 4901
description 4901
ratio_in_study 4901
ratio_in_pop 4901
p_uncorrected 4901
p_bonferroni 4901
p_holm 4901
p_sidak 4901
p_fdr 4901
ANs_study 4901
ANs_pop 4250

In [128]:
df_new.shape, df_old.shape, df_comp.shape

((4901, 13), (4901, 13), (4901, 13))

In [129]:
cond = df_comp['ANs_pop'] == False
df_comp.loc[cond, ].head()

,id,enrichment,fold_enrichment,description,ratio_in_study,ratio_in_pop,p_uncorrected,p_bonferroni,p_holm,p_sidak,p_fdr,ANs_study,ANs_pop
4250,True,True,True,True,True,True,True,True,True,True,True,True,False
4251,True,True,True,True,True,True,True,True,True,True,True,True,False
4252,True,True,True,True,True,True,True,True,True,True,True,True,False
4253,True,True,True,True,True,True,True,True,True,True,True,True,False
4254,True,True,True,True,True,True,True,True,True,True,True,True,False

In [130]:
index = [4250, 4251]
df_new.loc[index, 'ANs_pop'] == df_old.loc[index, 'ANs_pop']

4250    False
4251    False
Name: ANs_pop, dtype: bool

In [131]:
df_new.loc[index, ]

,id,enrichment,fold_enrichment,description,ratio_in_study,ratio_in_pop,p_uncorrected,p_bonferroni,p_holm,p_sidak,p_fdr,ANs_study,ANs_pop
4250,........GO:0032777,e,-1,Piccolo NuA4 histone acetyltransferase complex,4/1126,0/1126,0.125,611,566,596,n.a.,"P43572,Q04003,Q08649,Q99314",NaN
4251,.....GO:0090282,e,-1,positive regulation of transcription involved ...,3/1126,0/1126,0.250,1220,1090,1190,n.a.,"P40466,P41813,Q08887",NaN

In [132]:
df_old.loc[index, ]

,id,enrichment,fold_enrichment,description,ratio_in_study,ratio_in_pop,p_uncorrected,p_bonferroni,p_holm,p_sidak,p_fdr,ANs_study,ANs_pop
4250,........GO:0032777,e,-1,Piccolo NuA4 histone acetyltransferase complex,4/1126,0/1126,0.125,611,566,596,n.a.,"P43572,Q04003,Q08649,Q99314",NaN
4251,.....GO:0090282,e,-1,positive regulation of transcription involved ...,3/1126,0/1126,0.250,1220,1090,1190,n.a.,"P40466,P41813,Q08887",NaN

In [1]:
%run run_goenrichment

load obo file /Users/dblyon/CloudStation/CPR/Brian_GO/go_rescources/go_obo/go-basic.obo
44951

DONE :)

 nodes imported

TypeError: cannot concatenate 'str' and 'float' objects