In [1]:
pwd

u'/Users/dblyon/modules/cpr/goterm'

In [3]:
import goretriever
gor = goretriever.Goretriever()

In [4]:
fn = r'/Users/dblyon/CloudStation/CPR/Brian_GO/go_rescources/UniProt_goa/yeast/gene_association.goa_yeast'
gor.parse_goa_ref(fn)

In [9]:
ans_list = ['O14467', 'P00358', 'Q12345']
go_list = []
for an in ans_list:
    go_list += gor.get_goterms_from_an('O14467')

In [11]:
print len(go_list)
print len(set(go_list))

18
6

In [12]:
list(set(go_list))

['GO:0005737',
 'GO:0043565',
 'GO:0005634',
 'GO:0003713',
 'GO:0045944',
 'GO:0006351']

In [13]:
ls

Test_pickle_goretriever.p  go_enrichment_dbl.pyc      multiple_testing.py*       static/
Untitled.ipynb             goretriever.py             multiple_testing.pyc       summary_test.txt
Untitled1.ipynb            goretriever.pyc            obo_parser.py*             templates/
__init__ .py               goterm.py                  plot_go_term.py*           test.py
find_enrichment_dbl.py*    map_to_slim.py*            ratio.py                   test_goretriever.py
go_enrichment_dbl.py*      mapslim.py                 ratio.pyc                  write_hierarchy.py*

In [48]:
fh = open('summary_test3.txt', 'r')

In [49]:
go_summary = []
for line in fh:
    if line[:3] == 'GO:':
        go_summary.append(line.split('\t')[0])

In [50]:
print len(go_summary)
print len(set(go_summary))

84
84

In [1]:
import goretriever
import pandas as pd
ui = goretriever.UserInput()

In [2]:
ui.temp_setup()
ui.cleanupforanalysis()

In [3]:
ui.df.head()

       sample_an backgrnd_an  backgrnd_int
A5Z2X5       NaN      A5Z2X5      9.028612
O13297    O13297      O13297      8.099335
O13329       NaN      O13329      6.773450
O13516       NaN      O13516      7.956591
O13525       NaN      O13525      7.702801

In [4]:
ui.df.tail()
#Q9URQ3

       sample_an backgrnd_an  backgrnd_int
Q99383    Q99383      Q99383      8.931163
Q99385       NaN      Q99385      8.318001
Q99394       NaN      Q99394      7.523538
Q9P305       NaN      Q9P305      8.566520
Q9URQ5       NaN      Q9URQ5      7.808710

In [9]:
sample_df = ui.samplefreq
background_df = ui.backgroundfreq
df_new = concat_and_align_sample_and_background(sample_df, background_df)
df_new.head()

       sample_an backgrnd_an  backgrnd_int
A5Z2X5       NaN      A5Z2X5      9.028612
O13297    O13297      O13297      8.099335
O13329       NaN      O13329      6.773450
O13516       NaN      O13516      7.956591
O13525       NaN      O13525      7.702801

In [11]:
# ui.backgroundfreq_df
# ui.samplefreq_ser
# ui.df_orig
ans_samplefreq = ui.samplefreq_ser.tolist()
ans2drop = []
for an in ans_samplefreq:
    # an_row_index = ui.backgroundfreq_df[ui.backgroundfreq_df['backgrnd_an'] == an].index.tolist() 
    # AN is set as index, if not in index is
    if pd.isnull(ui.backgroundfreq_df.loc[an, 'backgrnd_int']):
        ans2drop += an

# now drop ans2drop from ui.samplefreq_ser

SyntaxError: invalid syntax (<ipython-input-11-b5361b66e520>, line 7)

In [19]:
an = 'Q9URQ3'
#an= 'P00359'
an_row_index = ui.backgroundfreq_df[ui.backgroundfreq_df['backgrnd_an'] == an].index.tolist()

In [28]:
import pandas as pd

an = 'P32862'
#an = 'Q9URQ3'
if pd.isnull(ui.backgroundfreq_df.loc[an, 'backgrnd_int']):
    print 'b'

In [21]:
ui.backgroundfreq_df.tail()

       backgrnd_an  backgrnd_int
P32862      P32862      4.993348
P40456      P40456      4.931224
P14737      P14737      4.818694
P25300      P25300      4.745387
P32448      P32448      4.532385

In [29]:
ui.df.tail()

       sample_an backgrnd_an  backgrnd_int
Q99385       NaN      Q99385      8.318001
Q99394       NaN      Q99394      7.523538
Q9P305       NaN      Q9P305      8.566520
Q9URQ3    Q9URQ3         NaN           NaN
Q9URQ5       NaN      Q9URQ5      7.808710

In [38]:
cond = pd.notnull(ui.df['backgrnd_int'])
dfc  = ui.df.loc[cond, ]

In [39]:
dfc.tail()

       sample_an backgrnd_an  backgrnd_int
Q99383    Q99383      Q99383      8.931163
Q99385       NaN      Q99385      8.318001
Q99394       NaN      Q99394      7.523538
Q9P305       NaN      Q9P305      8.566520
Q9URQ5       NaN      Q9URQ5      7.808710

In [5]:
import matplotlib.pyplot as plt

In [8]:
hist()

In [26]:
import matplotlib.pyplot as plt
import numpy as np
data = ui.df['backgrnd_int']
hist, bins = np.histogram(data, bins=100)
width = 0.7 * (bins[1] - bins[0])
center = (bins[:-1] + bins[1:]) / 2
plt.bar(center, hist, align='center', width=width, color='blue')

data = ui.df.loc[pd.notnull(ui.df['sample_an']), 'backgrnd_int']
hist, bins = np.histogram(data, bins=100)
width = 0.7 * (bins[1] - bins[0])
center = (bins[:-1] + bins[1:]) / 2
plt.bar(center, hist, align='center', width=width, color='red')
plt.show()

In [1]:
#ui.get_population()