In [1]:
6.0/1125

0.005333333333333333

In [2]:
2.0/1125

0.0017777777777777779

In [3]:
import pandas as pd

In [15]:
fn = r'/Users/dblyon/modules/cpr/goterm/agotool/static/data/exampledata/exampledata.txt'
df = pd.read_csv(fn, sep='\t', decimal=',')

In [16]:
df.head()

   population_int population_an sample_an
0       11.077513        P00359    P40545
1       10.969784        P00925    P09201
2       10.768498        P02994    P14066
3       10.747163        P06169    P25040
4       10.746144        P00560    P20050

In [18]:
df['population_int'].dtypes

dtype('float64')

In [23]:
import numpy as np
np.histogram(df['population_int'], bins=10)

(array([  19,   87,  288,  700,  990, 1057,  656,  296,  113,   42]),
 array([  4.74538712,   5.37859973,   6.01181235,   6.64502496,
          7.27823757,   7.91145019,   8.5446628 ,   9.17787541,
          9.81108802,  10.44430064,  11.07751325]))

In [20]:
df.tail()

      population_int population_an sample_an
4243        5.072728        Q12508       NaN
4244        4.993348        P32862       NaN
4245        4.931224        P40456       NaN
4246        4.818694        P14737       NaN
4247        4.745387        P25300       NaN

In [21]:
df.loc[4248:5000, "population_int"] = np.nan

In [22]:
df.tail()

      population_int population_an sample_an
4243        5.072728        Q12508       NaN
4244        4.993348        P32862       NaN
4245        4.931224        P40456       NaN
4246        4.818694        P14737       NaN
4247        4.745387        P25300       NaN