In [1]:
import pandas as pd

In [4]:
fn = r'/Users/dblyon/CloudStation/CPR/Brian_GO/alldata/Data_for_web_tool_yeast.txt'
df = pd.read_csv(fn, sep='\t')

In [5]:
df.head()

,Genome,iBAQ observed (log10),Observed Proteome,Phos,Ubi,Acetyl,Succinyl
0,P38903,"11,07751325",P00359,P0C2J1,P53907,P40545,Q04748
1,P31383,"10,96978388",P00925,P40456,P06775,P09201,Q05022
2,Q00362,"10,76849751",P02994,P25364,Q08986,P14066,Q03434
3,P47177,"10,74716312",P06169,P25364,P38723,P25040,P32590
4,P47096,"10,74614359",P00560,P14737,P38196,P20050,Q03434

In [30]:
print 'Shape: ', df.shape
for colname in df.columns.tolist():
    print colname, ': ', len(df.loc[pd.notnull(df[colname]), colname]), len(df.loc[pd.notnull(df[colname]), colname].drop_duplicates())

Shape:  (68561, 7)
Genome :  68561 68561
iBAQ observed (log10) :  7039 6938
Observed Proteome :  7039 6965
Phos :  15253 4421
Ubi :  7087 2706
Acetyl :  4070 1868
Succinyl :  1905 856

In [11]:
fn = r'/Users/dblyon/CloudStation/CPR/Brian_GO/alldata/Data_for_web_tool_HeLa.txt'
df = pd.read_csv(fn, sep='\t')

In [12]:
df.head()

,Genome,iBAQ observed (log10),Observed Proteome,Phos,Ubi,Acetyl,Succinyl
0,P31946,"6,494988974",A0AVF1,Q9UHI6,Q01469,P18583,Q4AC94
1,P62258,"8,380120754",A0AVT1,Q13075,J3QRK5,Q15596,P83111
2,Q04917,"8,224274014",A0FGR8,A6NDB9,Q9BXW9,Q04637,P83111
3,P61981,"6,768660296",A0JLT2,Q9UHI6,Q6W2J9,O15228,O15228
4,P31947,"6,565930421",A0JNW5,A6NFR9,J3QRK5,P01106,Q9BXM0

In [13]:
print df.shape
print df.drop_duplicates(subset='Genome').shape
print df.drop_duplicates(subset='Observed Proteome').shape
print df.drop_duplicates(subset='Phos').shape
print df.drop_duplicates(subset='Ubi').shape
print df.drop_duplicates(subset='Acetyl').shape
print df.drop_duplicates(subset='Succinyl').shape

(68561, 7)
(68561, 7)
(6966, 7)
(4422, 7)
(2707, 7)
(1869, 7)
(857, 7)

In [14]:
print df.drop_duplicates(subset='Succinyl').shape

(857, 7)

In [24]:
colname = 'Succinyl'
len(df.loc[pd.notnull(df[colname]), colname].drop_duplicates())

856