In [5]:
import goretriever
gor = goretriever.Goretriever()

In [36]:
ans_list = ['O14467', 'P00358', 'Q12345']
go_list = []
for an in ans_list:
    go_list += gor.get_goterms_from_an('O14467')

In [37]:
print len(go_list)
print len(set(go_list))

18
6

In [38]:
list(set(go_list))

['GO:0005737',
 'GO:0043565',
 'GO:0005634',
 'GO:0003713',
 'GO:0045944',
 'GO:0006351']

In [10]:
fh = open('summary_test3.txt', 'r')

In [11]:
go_summary = []
for line in fh:
    if line[:3] == 'GO:':
        go_summary.append(line.split('\t')[0])

In [12]:
print len(go_summary)
print len(set(go_summary))

84
84

In [1]:
import goretriever
import pandas as pd
ui = goretriever.UserInput()

In [2]:
ui.temp_setup()
ui.cleanupforanalysis()

In [3]:
ui.df.head()

       sample_an backgrnd_an  backgrnd_int
A5Z2X5       NaN      A5Z2X5      9.028612
O13297    O13297      O13297      8.099335
O13329       NaN      O13329      6.773450
O13516       NaN      O13516      7.956591
O13525       NaN      O13525      7.702801

In [4]:
ui.df.tail()
#Q9URQ3

       sample_an backgrnd_an  backgrnd_int
Q99383    Q99383      Q99383      8.931163
Q99385       NaN      Q99385      8.318001
Q99394       NaN      Q99394      7.523538
Q9P305       NaN      Q9P305      8.566520
Q9URQ5       NaN      Q9URQ5      7.808710

In [5]:
sample_df = ui.samplefreq_ser
background_df = ui.backgroundfreq_df
df_new = ui.concat_and_align_sample_and_background(sample_df, background_df)
df_new.head()

       sample_an  backgrnd_int backgrnd_an
A5Z2X5       NaN      9.028612      A5Z2X5
O13297    O13297      8.099335      O13297
O13329       NaN      6.773450      O13329
O13516       NaN      7.956591      O13516
O13525       NaN      7.702801      O13525

In [6]:
# ui.backgroundfreq_df
# ui.samplefreq_ser
# ui.df_orig
ans_samplefreq = ui.samplefreq_ser.tolist()
ans2drop = []
for an in ans_samplefreq:
    # an_row_index = ui.backgroundfreq_df[ui.backgroundfreq_df['backgrnd_an'] == an].index.tolist() 
    # AN is set as index, if not in index is
    if pd.isnull(ui.backgroundfreq_df.loc[an, 'backgrnd_int']):
        ans2drop += an

# now drop ans2drop from ui.samplefreq_ser

In [7]:
an = 'Q9URQ3'
#an= 'P00359'
an_row_index = ui.backgroundfreq_df[ui.backgroundfreq_df['backgrnd_an'] == an].index.tolist()

In [8]:
import pandas as pd

an = 'P32862'
#an = 'Q9URQ3'
if pd.isnull(ui.backgroundfreq_df.loc[an, 'backgrnd_int']):
    print 'b'

In [9]:
ui.backgroundfreq_df.tail()

        backgrnd_int backgrnd_an
Q99383      8.931163      Q99383
Q99385      8.318001      Q99385
Q99394      7.523538      Q99394
Q9P305      8.566520      Q9P305
Q9URQ5      7.808710      Q9URQ5

In [10]:
ui.df.tail()

       sample_an backgrnd_an  backgrnd_int
Q99383    Q99383      Q99383      8.931163
Q99385       NaN      Q99385      8.318001
Q99394       NaN      Q99394      7.523538
Q9P305       NaN      Q9P305      8.566520
Q9URQ5       NaN      Q9URQ5      7.808710

In [11]:
cond = pd.notnull(ui.df['backgrnd_int'])
dfc  = ui.df.loc[cond, ]

In [12]:
dfc.tail()

       sample_an backgrnd_an  backgrnd_int
Q99383    Q99383      Q99383      8.931163
Q99385       NaN      Q99385      8.318001
Q99394       NaN      Q99394      7.523538
Q9P305       NaN      Q9P305      8.566520
Q9URQ5       NaN      Q9URQ5      7.808710

In [13]:
import matplotlib.pyplot as plt

In [14]:
import matplotlib.pyplot as plt
import numpy as np
data = ui.df['backgrnd_int']
hist, bins = np.histogram(data, bins=100)
width = 0.7 * (bins[1] - bins[0])
center = (bins[:-1] + bins[1:]) / 2
plt.bar(center, hist, align='center', width=width, color='blue')

data = ui.df.loc[pd.notnull(ui.df['sample_an']), 'backgrnd_int']
hist, bins = np.histogram(data, bins=100)
width = 0.7 * (bins[1] - bins[0])
center = (bins[:-1] + bins[1:]) / 2
plt.bar(center, hist, align='center', width=width, color='red')
plt.show()

# create bins of equal length

In [15]:
import goretriever
import pandas as pd
import numpy as np
ui = goretriever.UserInput()
#ui.get_random_background_ans()

In [17]:
ui.get_sample_an_int().head()

       sample_an  backgrnd_int
O13297    O13297      8.099335
O14467    O14467      9.870351
P00044    P00044      9.077332
P00330    P00330     10.669038
P00331    P00331      9.191870

In [28]:
hist, bins = np.histogram(ui.get_sample_an_int()['backgrnd_int'], bins=10)
bins, hist

(array([  5.07272769,   5.67320625,   6.2736848 ,   6.87416336,
          7.47464191,   8.07512047,   8.67559903,   9.27607758,
          9.87655614,  10.47703469,  11.07751325]),
 array([  3,   7,  36,  87, 147, 267, 248, 209,  95,  27]))

In [29]:
len(hist), len(bins)

(10, 11)

In [33]:
for index, his in enumerate(hist):    
    print his, bins[index], bins[index+1]

3 5.07272769 5.673206246
7 5.673206246 6.273684802
36 6.273684802 6.874163358
87 6.874163358 7.474641914
147 7.474641914 8.07512047
267 8.07512047 8.675599026
248 8.675599026 9.276077582
209 9.276077582 9.876556138
95 9.876556138 10.477034694
27 10.477034694 11.07751325

In [36]:
lower = 5.07272769 
upper = 5.673206246
df = ui.get_background_an_int()

In [37]:
#cond = df['backgrnd_int'] > lower | df['backgrnd_int'] < upper

In [59]:
cond1 = df['backgrnd_int'] >= 10.5 
cond2 = df['backgrnd_int'] < 10.6
cond = cond1 & cond2
cond = cond1 & cond2
sorted(df.loc[cond, 'backgrnd_an'])

['O14455',
 'P00942',
 'P04456',
 'P05755',
 'P0C0T4',
 'P0CX31',
 'P0CX37',
 'P0CX45',
 'P0CX55',
 'P0CX84',
 'P14540',
 'P38061',
 'Q3E754',
 'Q3E7X9']

In [23]:
import random
np.random.choice(range(1,11), size=10, replace=False)

array([ 8,  6,  5,  3,  2,  1,  7,  9, 10,  4])

In [61]:
random.sample(df.loc[cond, 'backgrnd_an'], 10)

['Q3E7X9',
 'P0C0T4',
 'P38061',
 'P04456',
 'P0CX84',
 'P0CX55',
 'O14455',
 'P0CX37',
 'P0CX31',
 'Q3E754']

In [64]:
np.__version__

'1.8.0rc1'

In [5]:
import goretriever
import pandas as pd
import numpy as np
ui = goretriever.UserInput()
ans_rand = ui.get_random_background_ans()

In [13]:
print len(ans_rand)
print len(ui.get_study())
print len(ui.get_sample_an_int())

1126
1126
1126

In [14]:
ans_rand1 = ui.get_random_background_ans()
ans_rand2 = ui.get_random_background_ans()
ans_rand3 = ui.get_random_background_ans()
print ans_rand1 == ans_rand2
print ans_rand1 == ans_rand3
print ans_rand2 == ans_rand3

False
False
False

In [4]:
import matplotlib.pyplot as plt
import numpy as np
# plot random background
# against sample frequency

import goretriever
import pandas as pd
import numpy as np
ui = goretriever.UserInput()
num_bins = 60
ans_rand = ui.get_random_background_ans(num_bins=num_bins)


# background in blue
df = ui.get_df()
cond = df['backgrnd_an'].isin(ans_rand)
data = df.loc[cond, 'backgrnd_int']
data = df.loc[:, 'backgrnd_int']
print len(data)
hist, bins = np.histogram(data, bins=num_bins)
width = 0.7 * (bins[1] - bins[0])
center = (bins[:-1] + bins[1:]) / 2
plt.bar(center, hist, align='center', width=width, color='blue')

# sample in red
data = ui.get_sample_an_int()['backgrnd_int']
#data = ui.get_background_an_int()['backgrnd_int']
print len(data)
hist, bins = np.histogram(data, bins=num_bins)
width = 0.7 * (bins[1] - bins[0])
center = (bins[:-1] + bins[1:]) / 2
plt.bar(center, hist, align='center', width=width, color='red')

plt.show()

1126
1126

In [9]:
ans_sample = sorted(ui.get_sample_an_int()['sample_an'])

In [18]:
print sorted(ans_sample) == sorted(ans_rand)
print set(ans_sample) == set(ans_rand)

False
False

In [6]:
hist, bins = np.histogram(ui.get_sample_an_int()['backgrnd_int'], bins=num_bins)

In [12]:
print sum(hist)
perc_hist = hist / float(sum(hist))
print perc_hist
print sum(perc_hist)

1126
[ 0.0017762   0.          0.          0.          0.0008881   0.          0.
  0.          0.          0.          0.0008881   0.          0.0008881   0.
  0.0008881   0.          0.0026643   0.          0.          0.0008881
  0.0035524   0.0017762   0.0026643   0.          0.0017762   0.0044405
  0.0035524   0.0035524   0.0044405   0.0062167   0.0062167   0.0062167
  0.01154529  0.0053286   0.0035524   0.01154529  0.0071048   0.00976909
  0.00976909  0.0062167   0.01332149  0.00976909  0.01243339  0.01065719
  0.01065719  0.01065719  0.01509769  0.01420959  0.01243339  0.02131439
  0.02131439  0.01598579  0.01953819  0.02664298  0.02753108  0.02397869
  0.02397869  0.02309059  0.02309059  0.03197158  0.01598579  0.02841918
  0.01687389  0.01420959  0.02309059  0.02309059  0.02841918  0.03108348
  0.01953819  0.01953819  0.01776199  0.02220249  0.02930728  0.01509769
  0.02042629  0.02220249  0.01953819  0.01243339  0.01332149  0.01332149
  0.00888099  0.0071048   0.00976909  0.0062167   0.0053286   0.01154529
  0.0062167   0.0071048   0.01243339  0.00976909  0.0079929   0.0053286
  0.0035524   0.0017762   0.0035524   0.          0.          0.          0.0008881
  0.0008881 ]
1.0

In [14]:
hist, bins

(array([ 2,  0,  0,  0,  1,  0,  0,  0,  0,  0,  1,  0,  1,  0,  1,  0,  3,
         0,  0,  1,  4,  2,  3,  0,  2,  5,  4,  4,  5,  7,  7,  7, 13,  6,
         4, 13,  8, 11, 11,  7, 15, 11, 14, 12, 12, 12, 17, 16, 14, 24, 24,
        18, 22, 30, 31, 27, 27, 26, 26, 36, 18, 32, 19, 16, 26, 26, 32, 35,
        22, 22, 20, 25, 33, 17, 23, 25, 22, 14, 15, 15, 10,  8, 11,  7,  6,
        13,  7,  8, 14, 11,  9,  6,  4,  2,  4,  0,  0,  0,  1,  1]),
 array([  5.07272769,   5.13277555,   5.1928234 ,   5.25287126,
          5.31291911,   5.37296697,   5.43301482,   5.49306268,
          5.55311053,   5.61315839,   5.67320625,   5.7332541 ,
          5.79330196,   5.85334981,   5.91339767,   5.97344552,
          6.03349338,   6.09354124,   6.15358909,   6.21363695,
          6.2736848 ,   6.33373266,   6.39378051,   6.45382837,
          6.51387622,   6.57392408,   6.63397194,   6.69401979,
          6.75406765,   6.8141155 ,   6.87416336,   6.93421121,
          6.99425907,   7.05430692,   7.11435478,   7.17440264,
          7.23445049,   7.29449835,   7.3545462 ,   7.41459406,
          7.47464191,   7.53468977,   7.59473763,   7.65478548,
          7.71483334,   7.77488119,   7.83492905,   7.8949769 ,
          7.95502476,   8.01507261,   8.07512047,   8.13516833,
          8.19521618,   8.25526404,   8.31531189,   8.37535975,
          8.4354076 ,   8.49545546,   8.55550331,   8.61555117,
          8.67559903,   8.73564688,   8.79569474,   8.85574259,
          8.91579045,   8.9758383 ,   9.03588616,   9.09593402,
          9.15598187,   9.21602973,   9.27607758,   9.33612544,
          9.39617329,   9.45622115,   9.516269  ,   9.57631686,
          9.63636472,   9.69641257,   9.75646043,   9.81650828,
          9.87655614,   9.93660399,   9.99665185,  10.0566997 ,
         10.11674756,  10.17679542,  10.23684327,  10.29689113,
         10.35693898,  10.41698684,  10.47703469,  10.53708255,
         10.59713041,  10.65717826,  10.71722612,  10.77727397,
         10.83732183,  10.89736968,  10.95741754,  11.01746539,  11.07751325]))

In [17]:
ui.get_random_an_from_bin(5.07272769,   5.13277555, get_all_ans=True)

['P25364', 'P46997', 'Q01926', 'Q12508']

In [ ]:
common = pop & study
pop |= study
pop -= common
study -= common

In [7]:
pop = set(list('abcdefg'))
study = set(list('abc'))

In [8]:
common = pop & study
common

{'a', 'b', 'c'}

In [9]:
pop |= study
pop

{'a', 'b', 'c', 'd', 'e', 'f', 'g'}

In [11]:
pop -= common
pop

{'d', 'e', 'f', 'g'}

In [13]:
study -= common
study

set()

In [16]:
from collections import defaultdict
d = defaultdict(int)
d

defaultdict(<type 'int'>, {})

In [17]:
d.items()

[]

In [20]:
d['v']

0