In [2]:
import pandas as pd

In [3]:
fn = r'/Users/dbl/CloudStation/CPR/Brian_GO/alldata/Data_for_web_tool_HeLa_v2.txt'
df_orig = pd.read_csv(fn, sep='\t', decimal=',')

In [4]:
df_orig.head()

,Genome,iBAQ observed (log10),Observed Proteome,Phos,Ubi,Acetyl,Succinyl
0,P31946,11.014521,P62805,Q9UHI6,Q01469,P18583,Q4AC94
1,P62258,10.902514,P0C0S8;P20671;Q6FI13;Q16777;Q9BTM1;Q96KK5;Q998...,Q13075,J3QRK5,Q15596,P83111
2,Q04917,10.886417,Q71DI3,A6NDB9,Q9BXW9,Q04637,P83111
3,P61981,10.862876,P63261;I3L4N8;I3L1U9;I3L3I0,Q9UHI6,Q6W2J9,O15228,O15228
4,P31947,10.841628,P04406;P04406-2;E7EUT5,A6NFR9,J3QRK5,P01106,Q9BXM0

In [5]:
df = df_orig.loc[0:5, ].copy()

In [6]:
df.loc[:, 'Phos'] = 'bubu'
df.loc[0, 'Phos'] = 'P62805'
df.loc[2, 'Phos'] = 'Q71DI3'
df.loc[3, 'Phos'] = 'P63261;I3L4N8;I3L1U9;I3L3I0'
df.loc[2, 'Observed Proteome'] = 'Q71DI3-10'
df.loc[5, 'Phos'] = 'Q71DI3-8'
df

,Genome,iBAQ observed (log10),Observed Proteome,Phos,Ubi,Acetyl,Succinyl
0,P31946,11.014521,P62805,P62805,Q01469,P18583,Q4AC94
1,P62258,10.902514,P0C0S8;P20671;Q6FI13;Q16777;Q9BTM1;Q96KK5;Q998...,bubu,J3QRK5,Q15596,P83111
2,Q04917,10.886417,Q71DI3-10,Q71DI3,Q9BXW9,Q04637,P83111
3,P61981,10.862876,P63261;I3L4N8;I3L1U9;I3L3I0,P63261;I3L4N8;I3L1U9;I3L3I0,Q6W2J9,O15228,O15228
4,P31947,10.841628,P04406;P04406-2;E7EUT5,bubu,J3QRK5,P01106,Q9BXM0
5,P27348,10.775217,P58876;U3KQK0;O60814;P57053;P62807;Q99877;Q998...,Q71DI3-8,Q9UKA4,O14686,Q9NVV4

In [7]:
df.to_csv('UserInput_test_ProteinGroups.txt', sep='\t', index=False, header=True, decimal='.)')

In [8]:
def removeSpliceVariants_splitProteinGrous_Series(series):
    '''
    remove splice variant appendix from AccessionNumbers (if present) P04406-2 --> P04406
    split AccessionNumber column into mulitple rows P63261;I3L4N8;I3L1U9;I3L3I0 --> 4 rows of values
    :param series: PandasSeries
    :return: Series
    '''
    list2return = []
    templist = []
    for ele in series:
        templist += ele.split(';')
    for ele in templist:
        ele_split = ele.split('-')
        if len(ele_split) > 1:
            list2return.append(ele_split[0])
        else:
            list2return.append(ele)
    return pd.Series(list2return, name = series.name)

In [9]:
dft = df[['iBAQ observed (log10)', 'Observed Proteome']]
dft

   iBAQ observed (log10)                                  Observed Proteome
0              11.014521                                             P62805
1              10.902514  P0C0S8;P20671;Q6FI13;Q16777;Q9BTM1;Q96KK5;Q998...
2              10.886417                                          Q71DI3-10
3              10.862876                        P63261;I3L4N8;I3L1U9;I3L3I0
4              10.841628                             P04406;P04406-2;E7EUT5
5              10.775217  P58876;U3KQK0;O60814;P57053;P62807;Q99877;Q998...

In [10]:
def removeSpliceVariants_splitProteinGrous_DataFrame(dataframe):
    '''
    remove splice variant appendix from AccessionNumbers (if present) P04406-2 --> P04406
    split AccessionNumber column into mulitple rows P63261;I3L4N8;I3L1U9;I3L3I0 --> 4 rows of values
    copy abundance data when adding rows
    :param series: PandasDataFrame
    :return: Series
    '''
    colname_an = 'Observed Proteome'
    colname_int = 'iBAQ observed (log10)'
    df_new = splitProteinGroups_DataFrame(dataframe, colname_an, colname_int)
    return removeSpliceVariants_DataFrame(df_new, colname_an, colname_int)

In [11]:
def splitProteinGroups_DataFrame(dataframe, colname_an, colname_int):
    ans2write_list = []
    int2write_list = []
    iterrows = dataframe[[colname_an, colname_int]].iterrows()
    for row in iterrows:
        index = row[0]
        int_val = dataframe.loc[index, colname_int]
        ans_row = row[1][colname_an]
        ans_split_semicol = ans_row.split(';')
        len_ans_split_semicol = len(ans_split_semicol)
        if len_ans_split_semicol > 1:
            ans2write_list += ans_split_semicol            
            int2write_list += [int_val] * len_ans_split_semicol
        else:
            ans2write_list.append(ans_row)
            int2write_list.append(int_val)
    return pd.DataFrame({colname_an: ans2write_list, colname_int: int2write_list})

In [12]:
def removeSpliceVariants_DataFrame(dataframe, colname_an, colname_int):
    iterrows = dataframe[[colname_an, colname_int]].iterrows()
    for row in iterrows:
        index = row[0]
        an_row = row[1][colname_an]
        an_split_minus = an_row.split('-')
        len_an_split_minus = len(an_split_minus)
        if len_an_split_minus > 1:
            dataframe.loc[index, colname_an] = an_split_minus[0]
    return dataframe

In [13]:
removeSpliceVariants_splitProteinGrous_DataFrame(dft)

   Observed Proteome  iBAQ observed (log10)
0             P62805              11.014521
1             P0C0S8              10.902514
2             P20671              10.902514
3             Q6FI13              10.902514
4             Q16777              10.902514
5             Q9BTM1              10.902514
6             Q96KK5              10.902514
7             Q99878              10.902514
8             H0YFX9              10.902514
9             P04908              10.902514
10            Q7L7L0              10.902514
11            Q93077              10.902514
12            Q9BTM1              10.902514
13            Q71DI3              10.886417
14            P63261              10.862876
15            I3L4N8              10.862876
16            I3L1U9              10.862876
17            I3L3I0              10.862876
18            P04406              10.841628
19            P04406              10.841628
20            E7EUT5              10.841628
21            P58876              10.775217
22            U3KQK0              10.775217
23            O60814              10.775217
24            P57053              10.775217
25            P62807              10.775217
26            Q99877              10.775217
27            Q99879              10.775217
28            Q99880              10.775217

In [14]:
dft

   iBAQ observed (log10)                                  Observed Proteome
0              11.014521                                             P62805
1              10.902514  P0C0S8;P20671;Q6FI13;Q16777;Q9BTM1;Q96KK5;Q998...
2              10.886417                                          Q71DI3-10
3              10.862876                        P63261;I3L4N8;I3L1U9;I3L3I0
4              10.841628                             P04406;P04406-2;E7EUT5
5              10.775217  P58876;U3KQK0;O60814;P57053;P62807;Q99877;Q998...

In [15]:
def concat_and_align_sample_and_background(sample_ser, background_df):
    '''
    expects a Series and a DataFrames each containing a column with non-redundant
    AccessionNumbers, concatenate by producing the union and aligning the ANs in rows
    :param sample_ser: Pandas.Series
    :param background_df: Pandas.DataFrame
    :return: DataFrame
    '''
    col_background_an = 'Observed Proteome'
    sample_ser.index = sample_ser.tolist()
    background_df.index = background_df[col_background_an].tolist()
    return pd.concat([sample_ser, background_df], axis=1)

In [23]:
sample_ser = removeSpliceVariants_splitProteinGrous_Series(df['Phos'])
background_df = removeSpliceVariants_splitProteinGrous_DataFrame(dft)

In [17]:
#dft
sample_ser, background_df
back = background_df.loc[0:8,]
print sample_ser
print
print back

0    P62805
1      bubu
2    Q71DI3
3    P63261
4    I3L4N8
5    I3L1U9
6    I3L3I0
7      bubu
8    Q71DI3
Name: Phos, dtype: object

  Observed Proteome  iBAQ observed (log10)
0            P62805              11.014521
1            P0C0S8              10.902514
2            P20671              10.902514
3            Q6FI13              10.902514
4            Q16777              10.902514
5            Q9BTM1              10.902514
6            Q96KK5              10.902514
7            Q99878              10.902514
8            H0YFX9              10.902514

In [18]:
col_background_an = 'Observed Proteome'

In [34]:
sample_ser.index = sample_ser.tolist()
print sample_ser
sample_ser = sample_ser.drop_duplicates()
sample_ser

P62805    P62805
bubu        bubu
Q71DI3    Q71DI3
P63261    P63261
I3L4N8    I3L4N8
I3L1U9    I3L1U9
I3L3I0    I3L3I0
bubu        bubu
Q71DI3    Q71DI3
Name: Phos, dtype: object

P62805    P62805
bubu        bubu
Q71DI3    Q71DI3
P63261    P63261
I3L4N8    I3L4N8
I3L1U9    I3L1U9
I3L3I0    I3L3I0
Name: Phos, dtype: object

In [35]:
back.index = back[col_background_an].tolist()
print back
back.drop_duplicates()

       Observed Proteome  iBAQ observed (log10)
P62805            P62805              11.014521
P0C0S8            P0C0S8              10.902514
P20671            P20671              10.902514
Q6FI13            Q6FI13              10.902514
Q16777            Q16777              10.902514
Q9BTM1            Q9BTM1              10.902514
Q96KK5            Q96KK5              10.902514
Q99878            Q99878              10.902514
H0YFX9            H0YFX9              10.902514

       Observed Proteome  iBAQ observed (log10)
P62805            P62805              11.014521
P0C0S8            P0C0S8              10.902514
P20671            P20671              10.902514
Q6FI13            Q6FI13              10.902514
Q16777            Q16777              10.902514
Q9BTM1            Q9BTM1              10.902514
Q96KK5            Q96KK5              10.902514
Q99878            Q99878              10.902514
H0YFX9            H0YFX9              10.902514

In [36]:
pd.concat([sample_ser, back], axis=1)

          Phos Observed Proteome  iBAQ observed (log10)
H0YFX9     NaN            H0YFX9              10.902514
I3L1U9  I3L1U9               NaN                    NaN
I3L3I0  I3L3I0               NaN                    NaN
I3L4N8  I3L4N8               NaN                    NaN
P0C0S8     NaN            P0C0S8              10.902514
P20671     NaN            P20671              10.902514
P62805  P62805            P62805              11.014521
P63261  P63261               NaN                    NaN
Q16777     NaN            Q16777              10.902514
Q6FI13     NaN            Q6FI13              10.902514
Q71DI3  Q71DI3               NaN                    NaN
Q96KK5     NaN            Q96KK5              10.902514
Q99878     NaN            Q99878              10.902514
Q9BTM1     NaN            Q9BTM1              10.902514
bubu      bubu               NaN                    NaN

In [1]:
%run run_goenrichment

load obo file /Users/dblyon/CloudStation/CPR/Brian_GO/go_rescources/go_obo/go-basic.obo
44951

('Yeast_Acetyl_vs_Observed.txt', 'Acetyl', 'Observed')
DONE :)
('Yeast_Acetyl_vs_Genome.txt', 'Acetyl', 'Genome')
DONE :)
('Yeast_Acetyl_vs_AbCorr.txt', 'Acetyl', 'AbCorr')
DONE :)

 nodes imported

In [2]:
res = results[0]
res.update_remaining_fields()
res

In [71]:
attributes_list = [('id', '%s'), ('enrichment', '%s'), ('perc_enrichment_study', "%0.1f"),
               ('perc_enrichment_pop', "%0.1f"), ('fold_enrichment_study2pop', "%0.2f"),
               ('study_count', '%s'), ('study_n', '%s'), ('pop_count','%s'), ('pop_n', '%s'),
               ('description', '%s'), ('p_uncorrected', "%.3g"), ('p_bonferroni', "%.3g"),
               ('p_holm', "%.3g"), ('p_sidak',"%.3g"), ('ANs_study', '%s'), ('ANs_pop', '%s'),
               ('p_fdr', '%s')]

In [72]:
def get_attributes2write():
    return [name_format[0] for name_format in attributes_list]

In [77]:
def get_attributes_list():
    return attributes_list

In [87]:
def get_attribute_format_list(indent):
    if indent:
        attributes_list = [('dot_id', '%s') if x[0] == 'id' else x for x in get_attributes_list()]
        dots = ''
        if res.goterm is not None:
            dots = "." * res.goterm.level
        res.dot_id = dots + res.id        
    else:
        attributes_list = get_attributes_list()
    return attributes_list

In [88]:
def get_attribute_formatted(attr_form):
    attr, form = attr_form
    try:
        val = res.__dict__[attr]
        attr2write = (form % val) + '\t'
    except KeyError:
        attr2write = 'n.a.' + '\t'
    return attr2write

In [89]:
def get_line2write(indent):
    line2write = ''
    attribute_format_list = get_attribute_format_list(indent)
    for attr_form in attribute_format_list:
        line2write += get_attribute_formatted(attr_form)     
    return line2write.rstrip()

In [93]:
line = get_line2write(indent=True)
line.split()[:-3]

['....GO:0044445',
 'e',
 '11.0',
 '5.0',
 '2.17',
 '123',
 '1129',
 '218',
 '4337',
 'cytosolic',
 'part',
 '1.93e-10',
 '9.44e-07',
 '9.44e-07',
 '9.21e-07']

In [94]:
line = get_line2write(indent=False)
line.split()[:-3]

['GO:0044445',
 'e',
 '11.0',
 '5.0',
 '2.17',
 '123',
 '1129',
 '218',
 '4337',
 'cytosolic',
 'part',
 '1.93e-10',
 '9.44e-07',
 '9.44e-07',
 '9.21e-07']

In [14]:
x=1.933435435e-10
"%.3g" % x

'1.93e-10'

In [27]:
"%0.1f" % 67.129999

'67.1'

In [37]:
x = 123.4
('%s' % x) + '\t'

'123.4\t'

In [65]:
res.goterm.level

4

In [98]:
class Bubu(object):
    attributes_list = [('id', '%s'), ('enrichment', '%s'), ('perc_enrichment_study', "%0.1f"),
               ('perc_enrichment_pop', "%0.1f"), ('fold_enrichment_study2pop', "%0.2f"),
               ('study_count', '%s'), ('study_n', '%s'), ('pop_count','%s'), ('pop_n', '%s'),
               ('description', '%s'), ('p_uncorrected', "%.3g"), ('p_bonferroni', "%.3g"),
               ('p_holm', "%.3g"), ('p_sidak',"%.3g"), ('ANs_study', '%s'), ('ANs_pop', '%s'),
               ('p_fdr', '%s')]
    def __init__(self):
        self.dave = 'awesome'

In [99]:
bu = Bubu()

In [100]:
bu.dave

'awesome'

In [101]:
bu.attributes_list

[('id', '%s'),
 ('enrichment', '%s'),
 ('perc_enrichment_study', '%0.1f'),
 ('perc_enrichment_pop', '%0.1f'),
 ('fold_enrichment_study2pop', '%0.2f'),
 ('study_count', '%s'),
 ('study_n', '%s'),
 ('pop_count', '%s'),
 ('pop_n', '%s'),
 ('description', '%s'),
 ('p_uncorrected', '%.3g'),
 ('p_bonferroni', '%.3g'),
 ('p_holm', '%.3g'),
 ('p_sidak', '%.3g'),
 ('ANs_study', '%s'),
 ('ANs_pop', '%s'),
 ('p_fdr', '%s')]

In [2]:
import pandas as pd

In [5]:
df = pd.read_csv('Yeast_Acetyl_vs_Observed.txt', sep='\t', skiprows=1)

In [8]:
7.0/1129

0.006200177147918512

In [15]:
df.sort(columns='p_bonferroni').iloc[0:3]

,id,enrichment,perc_enrichment_study,perc_enrichment_pop,fold_enrichment_study2pop,study_count,study_n,pop_count,pop_n,description,p_uncorrected,p_bonferroni,p_holm,p_sidak,ANs_study,ANs_pop,p_fdr
1263,....GO:0044445,e,10.9,5.0,2.17,123,1129,218,4337,cytosolic part,1.930000e-10,9.440000e-07,9.440000e-07,9.210000e-07,"P00924,P00925,P02406,P02407,P04449,P04456,P053...","O13516,O13563,O14455,O94742,P00924,P00925,P024...",n.a.
2000,...GO:0006082,e,15.1,8.2,1.85,171,1129,356,4337,organic acid metabolic process,2.390000e-10,1.170000e-06,1.170000e-06,1.140000e-06,"P00330,P00331,P00358,P00359,P00360,P00498,P005...","P00175,P00330,P00331,P00358,P00359,P00360,P004...",n.a.
4392,.GO:0016020,p,12.8,22.6,0.57,145,1129,980,4337,membrane,2.910000e-10,1.420000e-06,1.420000e-06,1.390000e-06,"P00830,P01120,P01123,P02994,P04037,P04710,P048...","O13525,P00175,P00424,P00830,P01119,P01120,P011...",n.a.

In [17]:
218.0/4337

0.05026516024902006

In [18]:
10.9/5

2.18

In [12]:
import os, obo_parser, goretriever
home = os.path.expanduser('~')
obo_fn = home + r'/CloudStation/CPR/Brian_GO/go_rescources/go_obo/go-basic.obo'
goa_ref_fn = home + r'/CloudStation/CPR/Brian_GO/go_rescources/UniProt_goa/yeast/gene_association.goa_ref_yeast'
obo_dag = obo_parser.GODag(obo_file=obo_fn)
go_parent = 'CP'
assoc_dict_cp = goretriever.Parser_UniProt_goa_ref(goa_ref_fn = goa_ref_fn).get_association_dict(go_parent, obo_dag)

load obo file /Users/dblyon/CloudStation/CPR/Brian_GO/go_rescources/go_obo/go-basic.obo
44951 nodes imported

In [14]:
assoc_dict_cp['P32263']

{'GO:0005737'}

In [15]:
#obo_dag['GO:1990413'].has_parent('GO:0003674')

In [16]:
go_parent = 'MF'
assoc_dict_mf = goretriever.Parser_UniProt_goa_ref(goa_ref_fn = goa_ref_fn).get_association_dict(go_parent, obo_dag)
assoc_dict_mf['P32263']

{'GO:0004735', 'GO:0042802'}

In [17]:
go_parent = 'BP'
assoc_dict_bp = goretriever.Parser_UniProt_goa_ref(goa_ref_fn = goa_ref_fn).get_association_dict(go_parent, obo_dag)
assoc_dict_bp['P32263']

{'GO:0006561', 'GO:0055114', 'GO:0055129'}

In [18]:
go_parent = None
assoc_dict_all = goretriever.Parser_UniProt_goa_ref(goa_ref_fn = goa_ref_fn).get_association_dict(go_parent, obo_dag)
assoc_dict_all['P32263']

{'GO:0004735',
 'GO:0005737',
 'GO:0006561',
 'GO:0042802',
 'GO:0055114',
 'GO:0055129'}

In [2]:
import fisher

In [19]:
#GO:0000122	e	negative regulation of transcription from RNA polymerase II promoter
#50/1159	21/1159	0.000635	3.14	3.08	3.06	n.a.
import scipy, fisher
study = '14/1159'
pop   = '56/4258'
a, col_1 = study.split('/')
b, col_2 = pop.split('/')
a = int(a)
col_1 = int(col_1)
b = int(b)
col_2 = int(col_2)
n = col_1 + col_2
col_2 = n - col_1
b = r1 - a
c = col_1 - a
d = col_2 - b
r2 = c + d
assert n == col_1 + col_2
assert n == r1 + r2
print fisher.pvalue_population(a, col_1, r1, n)
print fisher.pvalue(a, b, c, d)

Pvalue(left_tail=0.4552, right_tail=0.6592, two_tail=0.8837)
Pvalue(left_tail=0.4552, right_tail=0.6592, two_tail=0.8837)

In [30]:
study = '140/1159'
pop   = '14/1159'
study_count, study_n = study.split('/')
pop_count, pop_n = pop.split('/')
study_count = int(study_count)
study_n = int(study_n)
pop_count = int(pop_count)
pop_n = int(pop_n)
a = study_count
col_1 = study_n
r1 = study_count + pop_count
n = study_n + pop_n
p = fisher.pvalue_population(a, col_1, r1, n)
print p
enrichment = 'e' if ((1.0 * study_count / study_n) > (1.0 * pop_count / pop_n)) else 'p'
print enrichment

Pvalue(left_tail=1, right_tail=3.336e-29, two_tail=1.787e-10)
e

In [ ]:
# if significantly enriched --> right_tail
# if significantly purified --> left_tail