In [2]:
import pandas as pd

In [3]:
fn = r'/Users/dblyon/CloudStation/CPR/Brian_GO/alldata/Data_for_web_tool_HeLa_v2.txt'
df_orig = pd.read_csv(fn, sep='\t', decimal=',')

In [4]:
df_orig.head()

,Genome,iBAQ observed (log10),Observed Proteome,Phos,Ubi,Acetyl,Succinyl
0,P31946,11.014521,P62805,Q9UHI6,Q01469,P18583,Q4AC94
1,P62258,10.902514,P0C0S8;P20671;Q6FI13;Q16777;Q9BTM1;Q96KK5;Q998...,Q13075,J3QRK5,Q15596,P83111
2,Q04917,10.886417,Q71DI3,A6NDB9,Q9BXW9,Q04637,P83111
3,P61981,10.862876,P63261;I3L4N8;I3L1U9;I3L3I0,Q9UHI6,Q6W2J9,O15228,O15228
4,P31947,10.841628,P04406;P04406-2;E7EUT5,A6NFR9,J3QRK5,P01106,Q9BXM0

In [5]:
df = df_orig.loc[0:5, ].copy()

In [6]:
df.loc[:, 'Phos'] = 'bubu'
df.loc[0, 'Phos'] = 'P62805'
df.loc[2, 'Phos'] = 'Q71DI3'
df.loc[3, 'Phos'] = 'P63261;I3L4N8;I3L1U9;I3L3I0'
df.loc[2, 'Observed Proteome'] = 'Q71DI3-10'
df.loc[5, 'Phos'] = 'Q71DI3-8'
df

,Genome,iBAQ observed (log10),Observed Proteome,Phos,Ubi,Acetyl,Succinyl
0,P31946,11.014521,P62805,P62805,Q01469,P18583,Q4AC94
1,P62258,10.902514,P0C0S8;P20671;Q6FI13;Q16777;Q9BTM1;Q96KK5;Q998...,bubu,J3QRK5,Q15596,P83111
2,Q04917,10.886417,Q71DI3-10,Q71DI3,Q9BXW9,Q04637,P83111
3,P61981,10.862876,P63261;I3L4N8;I3L1U9;I3L3I0,P63261;I3L4N8;I3L1U9;I3L3I0,Q6W2J9,O15228,O15228
4,P31947,10.841628,P04406;P04406-2;E7EUT5,bubu,J3QRK5,P01106,Q9BXM0
5,P27348,10.775217,P58876;U3KQK0;O60814;P57053;P62807;Q99877;Q998...,Q71DI3-8,Q9UKA4,O14686,Q9NVV4

In [7]:
df.to_csv('UserInput_test_ProteinGroups.txt', sep='\t', index=False, header=True, decimal='.)')

In [8]:
def removeSpliceVariants_splitProteinGrous_Series(series):
    '''
    remove splice variant appendix from AccessionNumbers (if present) P04406-2 --> P04406
    split AccessionNumber column into mulitple rows P63261;I3L4N8;I3L1U9;I3L3I0 --> 4 rows of values
    :param series: PandasSeries
    :return: Series
    '''
    list2return = []
    templist = []
    for ele in series:
        templist += ele.split(';')
    for ele in templist:
        ele_split = ele.split('-')
        if len(ele_split) > 1:
            list2return.append(ele_split[0])
        else:
            list2return.append(ele)
    return pd.Series(list2return, name = series.name)

In [9]:
dft = df[['iBAQ observed (log10)', 'Observed Proteome']]
dft

   iBAQ observed (log10)                                  Observed Proteome
0              11.014521                                             P62805
1              10.902514  P0C0S8;P20671;Q6FI13;Q16777;Q9BTM1;Q96KK5;Q998...
2              10.886417                                          Q71DI3-10
3              10.862876                        P63261;I3L4N8;I3L1U9;I3L3I0
4              10.841628                             P04406;P04406-2;E7EUT5
5              10.775217  P58876;U3KQK0;O60814;P57053;P62807;Q99877;Q998...

In [10]:
def removeSpliceVariants_splitProteinGrous_DataFrame(dataframe):
    '''
    remove splice variant appendix from AccessionNumbers (if present) P04406-2 --> P04406
    split AccessionNumber column into mulitple rows P63261;I3L4N8;I3L1U9;I3L3I0 --> 4 rows of values
    copy abundance data when adding rows
    :param series: PandasDataFrame
    :return: Series
    '''
    colname_an = 'Observed Proteome'
    colname_int = 'iBAQ observed (log10)'
    df_new = splitProteinGroups_DataFrame(dataframe, colname_an, colname_int)
    return removeSpliceVariants_DataFrame(df_new, colname_an, colname_int)

In [11]:
def splitProteinGroups_DataFrame(dataframe, colname_an, colname_int):
    ans2write_list = []
    int2write_list = []
    iterrows = dataframe[[colname_an, colname_int]].iterrows()
    for row in iterrows:
        index = row[0]
        int_val = dataframe.loc[index, colname_int]
        ans_row = row[1][colname_an]
        ans_split_semicol = ans_row.split(';')
        len_ans_split_semicol = len(ans_split_semicol)
        if len_ans_split_semicol > 1:
            ans2write_list += ans_split_semicol            
            int2write_list += [int_val] * len_ans_split_semicol
        else:
            ans2write_list.append(ans_row)
            int2write_list.append(int_val)
    return pd.DataFrame({colname_an: ans2write_list, colname_int: int2write_list})

In [12]:
def removeSpliceVariants_DataFrame(dataframe, colname_an, colname_int):
    iterrows = dataframe[[colname_an, colname_int]].iterrows()
    for row in iterrows:
        index = row[0]
        an_row = row[1][colname_an]
        an_split_minus = an_row.split('-')
        len_an_split_minus = len(an_split_minus)
        if len_an_split_minus > 1:
            dataframe.loc[index, colname_an] = an_split_minus[0]
    return dataframe

In [13]:
removeSpliceVariants_splitProteinGrous_DataFrame(dft)

   Observed Proteome  iBAQ observed (log10)
0             P62805              11.014521
1             P0C0S8              10.902514
2             P20671              10.902514
3             Q6FI13              10.902514
4             Q16777              10.902514
5             Q9BTM1              10.902514
6             Q96KK5              10.902514
7             Q99878              10.902514
8             H0YFX9              10.902514
9             P04908              10.902514
10            Q7L7L0              10.902514
11            Q93077              10.902514
12            Q9BTM1              10.902514
13            Q71DI3              10.886417
14            P63261              10.862876
15            I3L4N8              10.862876
16            I3L1U9              10.862876
17            I3L3I0              10.862876
18            P04406              10.841628
19            P04406              10.841628
20            E7EUT5              10.841628
21            P58876              10.775217
22            U3KQK0              10.775217
23            O60814              10.775217
24            P57053              10.775217
25            P62807              10.775217
26            Q99877              10.775217
27            Q99879              10.775217
28            Q99880              10.775217

In [14]:
dft

   iBAQ observed (log10)                                  Observed Proteome
0              11.014521                                             P62805
1              10.902514  P0C0S8;P20671;Q6FI13;Q16777;Q9BTM1;Q96KK5;Q998...
2              10.886417                                          Q71DI3-10
3              10.862876                        P63261;I3L4N8;I3L1U9;I3L3I0
4              10.841628                             P04406;P04406-2;E7EUT5
5              10.775217  P58876;U3KQK0;O60814;P57053;P62807;Q99877;Q998...

In [15]:
def concat_and_align_sample_and_background(sample_ser, background_df):
    '''
    expects a Series and a DataFrames each containing a column with non-redundant
    AccessionNumbers, concatenate by producing the union and aligning the ANs in rows
    :param sample_ser: Pandas.Series
    :param background_df: Pandas.DataFrame
    :return: DataFrame
    '''
    col_background_an = 'Observed Proteome'
    sample_ser.index = sample_ser.tolist()
    background_df.index = background_df[col_background_an].tolist()
    return pd.concat([sample_ser, background_df], axis=1)

In [16]:
sample_ser = removeSpliceVariants_splitProteinGrous_Series(df['Phos'])
background_df = removeSpliceVariants_splitProteinGrous_DataFrame(dft)

In [19]:
#dft
sample_ser, background_df
back = background_df.loc[0:8,]
print sample_ser
print
print back

0    P62805
1      bubu
2    Q71DI3
3    P63261
4    I3L4N8
5    I3L1U9
6    I3L3I0
7      bubu
8    Q71DI3
Name: Phos, dtype: object

  Observed Proteome  iBAQ observed (log10)
0            P62805              11.014521
1            P0C0S8              10.902514
2            P20671              10.902514
3            Q6FI13              10.902514
4            Q16777              10.902514
5            Q9BTM1              10.902514
6            Q96KK5              10.902514
7            Q99878              10.902514
8            H0YFX9              10.902514

In [20]:
col_background_an = 'Observed Proteome'

In [21]:
sample_ser.index = sample_ser.tolist()
sample_ser

P62805    P62805
bubu        bubu
Q71DI3    Q71DI3
P63261    P63261
I3L4N8    I3L4N8
I3L1U9    I3L1U9
I3L3I0    I3L3I0
bubu        bubu
Q71DI3    Q71DI3
Name: Phos, dtype: object

In [22]:
back.index = back[col_background_an].tolist()
back

       Observed Proteome  iBAQ observed (log10)
P62805            P62805              11.014521
P0C0S8            P0C0S8              10.902514
P20671            P20671              10.902514
Q6FI13            Q6FI13              10.902514
Q16777            Q16777              10.902514
Q9BTM1            Q9BTM1              10.902514
Q96KK5            Q96KK5              10.902514
Q99878            Q99878              10.902514
H0YFX9            H0YFX9              10.902514

In [2]:
#pd.concat([sample_ser, back], axis=1)

In [1]:
%run run_goenrichment

load obo file /Users/dblyon/CloudStation/CPR/Brian_GO/go_rescources/go_obo/go-basic.obo
44951

('Yeast_Acetyl_vs_Observed.txt', 'Acetyl', 'Observed')
0    P40545
1    P09201
2    P14066
Name: Acetyl, dtype: object
(1159,)
  Observed Proteome  iBAQ observed (log10)
0            P00359              11.077513
1            P00925              10.969784
2            P02994              10.768498
(4248, 2)
####
0    P40545
1    P09201
2    P14066
Name: Acetyl, dtype: object
(1159,)
()
  Observed Proteome  iBAQ observed (log10)
0            P00359              11.077513
1            P00925              10.969784
2            P02994              10.768498
(4353, 2)

 nodes imported

ValueError: Shape of passed values is (3, 4383), indices imply (3, 4366)

In [29]:
sample_ser.iloc[0:3]

P62805    P62805
bubu        bubu
Q71DI3    Q71DI3
Name: Phos, dtype: object