In [1]:
import pandas as pd
import numpy as np

In [2]:
fn = r'/Users/dblyon/modules/cpr/goterm/agotool/static/data/exampledata/exampledata.txt'
df = pd.read_csv(fn, sep='\t', decimal=',')

In [3]:
df.head()

   population_int population_an sample_an
0       11.077513        P00359    P40545
1       10.969784        P00925    P09201
2       10.768498        P02994    P14066
3       10.747163        P06169    P25040
4       10.746144        P00560    P20050

In [6]:
df.tail()

      population_int population_an sample_an
4243        5.072728        Q12508       NaN
4244        4.993348        P32862       NaN
4245        4.931224        P40456       NaN
4246        4.818694        P14737       NaN
4247        4.745387        P25300       NaN

In [7]:
df.loc[4248:5000, "population_int"] = np.nan

In [8]:
df.tail()

      population_int population_an sample_an
4243        5.072728        Q12508       NaN
4244        4.993348        P32862       NaN
4245        4.931224        P40456       NaN
4246        4.818694        P14737       NaN
4247        4.745387        P25300       NaN

In [4]:
import imp

In [17]:
f, filename, description = imp.find_module('userinput', [r'/Users/dblyon/modules/cpr/goterm/agotool/static/python/'])
f, filename, description

(<open file '/Users/dblyon/modules/cpr/goterm/agotool/static/python/userinput.py', mode 'U' at 0x109f1af60>,
 '/Users/dblyon/modules/cpr/goterm/agotool/static/python/userinput.py',
 ('.py', 'U', 1))

In [21]:
userinput = imp.load_module('userinput', f, filename, description)

In [22]:
ui.userinput.Userinput